# Node
node_modules/
npm-debug.log
.env
.env.local

# Vercel
.vercel

# Android/Capacitor
android/app/build/
android/.gradle/
local.properties
key.properties
*.jks
keystore_base64.txt

# OS
.DS_Store
Thumbs.db
